<head>
  {% include 'includes/site-scripts/_google-tag-manager.twig' %}

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, viewport-fit=cover" />

  {# Added by yoast #}
  {# <title>{% if wp_title %}{{wp_title}}{% else %}{{site.name}}{% endif %}</title> #}

	<style type='text/css'>{{ criticalCss }}</style>
	<link rel="stylesheet" href="{{ css }}">

  {# Added by yoast #}
  {# <meta name="description" content="{{ excerpt }}"> #}
  <meta name="author" content="">

  {# <link rel="manifest" href="{{static}}manifest.json"> #}
  <meta name="theme-color" content="#fff">
  <meta name="application-name" content="{{site.name}}">

  {% include 'includes/_favicons.twig' %}

  {% if reCaptchaKey and reCaptchaSecret %}
	  <meta name="_recaptcha" content="{{ reCaptchaKey }}">
	{% endif %}

  {% include 'includes/site-scripts/_google-analytics.twig' %}

  {% include 'includes/site-scripts/_facebook-pixel.twig' %}

  {{function('wp_head')}}
</head>
