<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, viewport-fit=cover" />
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <title>{% if wp_title %}{{wp_title}}{% else %}{{site.name}}{% endif %}</title>

  {% set img = item.thumbnail %}
  {% set position = Image(item.thumbnail).attachment_image_position %}

  {% if position == false %}
    {% set position = 'center' %}
  {% endif %}

  <meta property="og:title" content="{% if wp_title %}{{wp_title}}{% else %}{{site.name}}{% endif %}">
  <meta property="og:image" content="{{img.src|resize(1200,800,(position))}}">
  <meta property="og:image:secure_url" content="{{img.src|resize(1200,800,(position))}}">
  <meta property="og:url" content="{{ogUrl}}">

  <style type='text/css'>{{criticalCss}}</style>

  <link rel="preload" href="{{css}}" as="style" onload="this.rel='stylesheet'">

  <script id="criticalCss">
    !function(a){"use strict";var b=function(b,c,d){function j(a){return e.body?a():void setTimeout(function(){j(a)})}function l(){f.addEventListener&&f.removeEventListener("load",l),f.media=d||"all"}var g,e=a.document,f=e.createElement("link");if(c)g=c;else{var h=(e.body||e.getElementsByTagName("head")[0]).childNodes;g=h[h.length-1]}var i=e.styleSheets;f.rel="stylesheet",f.href=b,f.media="only x",j(function(){g.parentNode.insertBefore(f,c?g:g.nextSibling)});var k=function(a){for(var b=f.href,c=i.length;c--;)if(i[c].href===b)return a();setTimeout(function(){k(a)})};return f.addEventListener&&f.addEventListener("load",l),f.onloadcssdefined=k,k(l),f};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this),function(a){if(a.loadCSS){var b=loadCSS.relpreload={};if(b.support=function(){try{return a.document.createElement("link").relList.supports("preload")}catch(a){}},b.poly=function(){for(var b=a.document.getElementsByTagName("link"),c=0;c<b.length;c++){var d=b[c];"preload"===d.rel&&"style"===d.getAttribute("as")&&(a.loadCSS(d.href,d),d.rel=null)}},!b.support()){b.poly();var c=a.setInterval(b.poly,300);a.addEventListener&&a.addEventListener("load",function(){a.clearInterval(c)})}}}(this);
  </script>

  <noscript>
    <link rel="stylesheet" href="{{css}}">
  </noscript>

  {% include 'includes/_favicons.twig' %}

  {{function('wp_head')}}
  
  {# Set up reCAPTCHAS, if there are any #}
  {% if globals.recaptcha_key and globals.recaptcha_secret %}
  <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaReadyCallback" async defer></script>
  <script>
    window.captchas = [];
    window.recaptchaKey = '{{globals.recaptcha_key}}';
  </script>
  {% endif %}
</head>
