{# I'm here so you can see the front-end working, replace with actual project front-end #}
<header role="banner" id="top" class="c-header">
	<div class="o-wrapper">
		<a href="/" class="c-header__brand" title="{{ site.name }}">{{ site.name }}</a>

    <nav class="c-header__nav">
      {% for item in mainMenu.get_items %}
        <a
          href="{{ item.link }}"
          class="
            c-header__nav__item
            {% if item.current %} c-header__nav__item--active{% endif %}"
          title="{{ item.title }}"
        >
          {{ item.title }}
        </a>
      {% endfor %}
    </nav>

    <button
      class="c-header__toggle u-hidden-from@tablet  js-class-trigger"
      data-target="body"
      data-class-to-trigger="is-visible--mobile-menu">
      <span class="c-header__toggle__lines"></span>
      <span class="u-a11y">Menu</span>
    </button>
	</div>
</header>
