{% extends "base.twig" %}

{% block content %}

  <div class="o-wrapper u-py-10 u-py-16@tablet">
    <div class="o-freetext">
      <h1>{{ post.title }}</h1> {# this page has no hero, needs a <h1>, this is it #}

      {% if sitemap %}
        <div class="c-sitemap">
          {% for sitemapList in sitemap %}
            <div class="c-sitemap__list">
              <h2 class="o-heading">{{ sitemapList.title }}</h2>

              {% if sitemapList.items %}
                <ul>
                  {% for item in sitemapList.items %}
                    {% if item.items %}
                    <li class="c-sitemap__children">
                      <a href="{{ item.link }}" target="_blank" title="{{ item.title }}" rel="noopener">
                        <h2 class="c-sitemap__name">{{ item.title }}</h2>
                      </a>

                      <ul>
                        {% for child in item.items %}
                          {% if child.items %}
                            <li class="c-sitemap__grandchildren">
                              <a href="{{ child.link }}" target="_blank" title="{{ child.title }}" rel="noopener">
                                <h2 class="c-sitemap__name">{{ child.title }}</h2>
                              </a>

                              <ul>
                                {% for grandchild in child.items %}
                                  {% if grandchild.items %}
                                    <li class="c-sitemap__greatgrandchildren">
                                      <a href="{{ grandchild.link }}" target="_blank" title="{{ grandchild.title }}" rel="noopener">
                                        <h2 class="c-sitemap__name">{{ grandchild.title }}</h2>
                                      </a>

                                      <ul>
                                        {% for greatGrandchild in grandchild.items %}
                                          <li>
                                            <a href="{{ greatGrandchild.link }}" target="_blank" title="{{ greatGrandchild.title }}" rel="noopener">{{ greatGrandchild.title }}</a>
                                          </li>
                                        {% endfor %}
                                      </ul>
                                    </li>
                                  {% else %}
                                    <li><a href="{{ grandchild.link }}" target="_blank" title="{{ grandchild.title }}" rel="noopener">{{ grandchild.title }}</a></li>
                                  {% endif %}
                                {% endfor %}
                              </ul>
                            </li>
                          {% else %}
                            <li><a href="{{ child.link }}" target="_blank" title="{{ child.title }}" rel="noopener">{{ child.title }}</a></li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </li>
                    {% else %}
                      <li><a href="{{ item.link }}" target="_blank" title="{{ item.title }}" rel="noopener">{{ item.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>There are no items to show in the sitemap</p>
      {% endif %}
    </div>
  </div>

{% endblock %}
